<strong>Olá {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda aguardando retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br/>
  <strong>Produto: </strong> {{ product }} <br/>
</p>
